*{
	margin: 0;
	padding: 0;	
	text-decoration: none;
}

head {
	font-size: 35px;
	color: #AAc0af;
	background-color: #F7F7F9;
}

body {
}

.topnav {
	overflow: hidden;
	width: 100%;
	height: 150px;
 	background-color: #E3B505;
	text-decoration: none;
	font-size: 20px;
	font-family: Arial;
}

.topnav a{
	float: left;
	text-align: center;
	padding-left: 5px;
	padding-right:5px;
}

.topnav-right{
	float: right;
	text-align: right;
	padding-top: 10px;
}

.main {
	text-align:center;
}

ul {
		
}

ul li{
	list-style: none;
	display: inline-block;
	float:left;
	line-height: 100px;	
}

ul li a{
	display: block;
	font-size: 14px;
	font-family: arial;
	padding: 0 20px;
	color: #1e1e1e;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


#digital-clock {
 background-color: #66ffff;
 width: 35%;
 margin: auto;
 padding-top: 50px;
 padding-bottom: 50px;
 font-family: 'Open Sans Condensed', sans-serif;
 font-size: 64px;
 text-align: center;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
